<div id='signin' ng-controller='ValidateController'>
  <h1>signin</h1>
  <form name="signInForm" ng-submit='validate(signInForm.$valid)' novalidate>
    <input type='text' name='username' ng-model='user.username' ng-minlength='3' ng-maxlength='8' required>
    <input type="password" name='password' ng-model='user.password' ng-minlength='3' ng-maxlength='8' required>
  </form>
  <a class="pure-button pure-button-primary linkButton" href="#/signup">
    <i class="fa fa-headphones fa-lg"></i>
  Signup</a>
</div>
