<div id='signup' ng-controller='ValidateController'>
  <h1>signup</h1>
  <form name='signupForm' ng-submit='validate(signupForm.$valid)' novalidate>
    <input type='text' name='username' ng-model='user.username' ng-minlength='3' ng-maxlength='8' required>
    <input type='password' name='password' ng-model='user.password' ng-minlength='3' ng-maxlength='8' required>
  </form>
  <a class="pure-button pure-button-primary linkButton" href='#/signin'>
    <i class="fa fa-lemon-o fa-lg"></i>
  Sign in</a>
</div>
